body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(232, 232, 232, 0.6);
  padding: 1rem;
  overflow:hidden;
}

.json-section {
  padding: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.json-section h2 {
  font-size: 1.5em;
  margin-bottom: 12px;
}

#json-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.json-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 6px;
  background: #f8f8f8;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  transition: all 0.2s ease;
}

.json-item:hover {
  transform:scale(1.05);
  /* transition: transform 0.4s ease; */
}

.add-btn-container{
  text-align: center;
}

#add-button{
  background: #29ae32;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 4px 4.5vw;
  cursor: pointer;
  font-size: 2em;
  position:relative;
  display: inline-block;
  margin: 12px auto; /* vertical margin + auto horizontal */
}

.delete-btn {
  display: none;
  background: #ff4d4d;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
}

.json-item:hover .delete-btn {
  display: inline-block;
}


.json-item .nom {
  font-weight: bold;
  color: #333;
}

.json-item .temps {
  font-size: 0.95em;
  color: #666;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-form input {
  padding: 8px;
  font-size: 14px;
}

.popup-form button {
  padding: 8px;
  font-size: 14px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
